# Ignoring directories
# This is the experiments results
__pycache__/
experiments/
prepare_data/CellData/
.ipynb_checkpoints/
__pycache__/
# Ignoring file
# release after publish paper
aggregators.py 
# results and test file
CNN_attackers_10%.pdf
MLP_attackers_10%.pdf
run_experiment_0.py
test_seed.py
test.py
print_test.py

