# Ignoring directories
# This is the experiments results
experiments/
.ipynb_checkpoints/
__pycache__/
# Ignoring file
util/aggregators.py # release after publish paper
CNN_attackers_10%.pdf
MLP_attackers_10%.pdf
run_experiment_0.py
test_seed.py
test.py
print_test.py
